<div class="topl">
  <div class="serving">
    <a class="firs" title="采购信息" href="{$MODULE[6][linkurl]}" target="_blank"><span class="st-as">&nbsp;</span> <strong>采购信息</strong> 
      <small>快捷</small> <b class="rc-rt">&nbsp;</b> <b class="rc-rb">&nbsp;</b> </a>
    <a title="供应信息" rel="nofollow" href="{$MODULE[5][linkurl]}" target="_blank"><span class="st-bs">&nbsp;</span> <strong>供应信息</strong> <small>优质</small> <b class="rc-rt">&nbsp;</b> <b class="rc-rb">&nbsp;</b> </a>
    <a title="全球学校库" href="{$MODULE[4][linkurl]}" target="_blank"><span class="st-cs">&nbsp;</span> <strong>学校名录</strong> <small>登记</small> <b class="rc-rt">&nbsp;</b> <b class="rc-rb">&nbsp;</b> </a>
    <a title="行业资讯" href="{$MODULE[21][linkurl]}" target="_blank"><span class="st-ds">&nbsp;</span><strong>行业资讯</strong> <small>免费</small> <b class="rc-rt">&nbsp;</b> <b class="rc-rb">&nbsp;</b> </a>
    <a class="last" title="在线购买礼品" href="{$MODULE[16][linkurl]}" target="_blank"><span class="st-fs">&nbsp;</span><strong>在线商城</strong> <small>实用</small> </a>
    <a id="expo" href="{$MODULE[8][linkurl]}"><span class="st-es">&nbsp;</span> <strong title="展会信息">展会信息</strong><small title="发布展会信息">发布</small> <b class="rc-rt">&nbsp;</b> <b class="rc-rb">&nbsp;</b> </a>
  </div>
</div>
