* {
	FONT-FAMILY: Verdana, Arial; WORD-BREAK: break-all
}
BODY {
	MARGIN: 0px; BACKGROUND: #ffffff; COLOR: #333333; FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
TEXTAREA {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
UL LI {
	LIST-STYLE-TYPE: none
}
OL LI {
	LIST-STYLE-TYPE: decimal
}
UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
A:link {
	COLOR: #333333; TEXT-DECORATION: none
}
A:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
A:active {
	COLOR: #333333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600
}
A.w:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.w:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.w:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.w:hover {
	COLOR: #f4f3f2
}
A.b:link {
	COLOR: #333333; TEXT-DECORATION: none
}
A.b:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
A.b:active {
	COLOR: #333333; TEXT-DECORATION: none
}
A.b:hover {
	COLOR: #ff6600
}
A.g:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A.g:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A.g:active {
	COLOR: #666666; TEXT-DECORATION: none
}
A.g:hover {
	COLOR: #ff6600
}
.m {
	MARGIN: auto; WIDTH: 980px; ZOOM: 1; BACKGROUND: #ffffff; CLEAR: both
}
.zoom {
	ZOOM: 1
}
.zoom:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.m:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.top {
	WIDTH: 100%; BACKGROUND: url(image/top_bg.png) repeat-x; HEIGHT: 35px
}
.top_div {
	PADDING-BOTTOM: 6px; MARGIN: auto; PADDING-LEFT: 0px; WIDTH: 980px; PADDING-RIGHT: 0px; COLOR: #666666; PADDING-TOP: 8px
}
.logo {
	FLOAT: left
}
.logo IMG {
	MARGIN: 8px 0px 0px
}
.logot {
	BORDER-LEFT: #fdb489 1px solid; MARGIN: 20px 0px 0px 15px; PADDING-LEFT: 15px; FLOAT: left; HEIGHT: 32px
}
.logot SPAN.index {
	LINE-HEIGHT: 16px; DISPLAY: block; COLOR: #919191
}
.logot SPAN.other {
	FONT: bold 20px/30px "Î¢ÈíÑÅºÚ", "ºÚÌå", Arial, Helvetica, sans-serif; COLOR: #919191
}
.btntool {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; MARGIN-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(image/btntool.gif) no-repeat right center; PADDING-TOP: 5px
}
.btntool IMG {
	MARGIN: 0px 0px 8px
}
.btntool SPAN {
	COLOR: #666666; FONT-WEIGHT: bold
}
.btntool A {
	WIDTH: 83px; DISPLAY: block
}
.adword TABLE {
	BACKGROUND: url(image/adword_bg.gif) repeat-x 0px bottom
}
.adword_tip {
	BORDER-BOTTOM: #aaccee 1px solid; PADDING-BOTTOM: 8px; PADDING-LEFT: 28px; PADDING-RIGHT: 10px; BACKGROUND: url(image/arrow_up.gif) no-repeat 10px 8px; COLOR: #ff1100; PADDING-TOP: 8px
}
.sponsor {
	
}
#menu {
	BORDER-BOTTOM: #082451 1px solid; BORDER-LEFT: #0d3a81 1px solid; BACKGROUND: url(image/bg-header.png) #275092 repeat-x 0px -93px; HEIGHT: 37px; BORDER-TOP: #0d3a81 1px solid; BORDER-RIGHT: #0d3a81 1px solid
}
#menu .menu_bar LI {
	FLOAT: left; HEIGHT: 37px; BORDER-RIGHT: #0c2754 1px solid
}
#menu .menu_bar LI A {
	BORDER-BOTTOM: #3060aa 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #3060aa 1px solid; LINE-HEIGHT: 35px; WIDTH: 97px; DISPLAY: inline-block; BACKGROUND: url(image/bg-header.png) #285193 repeat-x 0px -131px; HEIGHT: 35px; COLOR: #fff; FONT-SIZE: 14px; BORDER-TOP: #3060aa 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #3060aa 1px solid; TEXT-DECORATION: none
}
#menu .menu_bar LI A:hover {
	BORDER-BOTTOM: #4570b4 1px solid; BORDER-LEFT: #4570b4 1px solid; LINE-HEIGHT: 35px; WIDTH: 97px; BACKGROUND: url(image/bg-header.png) #285193 repeat-x 0px -166px; HEIGHT: 35px; BORDER-TOP: #4570b4 1px solid; BORDER-RIGHT: #4570b4 1px solid; TEXT-DECORATION: none
}
#menu .menu_bar LI A.active {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; LINE-HEIGHT: 37px; WIDTH: 99px; BACKGROUND: url(image/bg-header.png) #193c74 repeat-x 0px -201px; HEIGHT: 37px; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
#menu .menu_info {
	LINE-HEIGHT: 37px; HEIGHT: 37px; MARGIN-RIGHT: 20px
}
#menu .menu_info A {
	PADDING-LEFT: 25px; BACKGROUND: url(image/icon-info.gif) no-repeat 0px center; COLOR: #fff
}
#menu .menu_info A:hover {
	BACKGROUND: url(image/icon-info-hover.gif) no-repeat 0px center; TEXT-DECORATION: none
}
.header {
	MARGIN-TOP: 10px; DISPLAY: block
}
.header .logo {
	WIDTH: 430px; HEIGHT: 70px
}
.header .logo A {
	TEXT-INDENT: -99999em; WIDTH: 430px; DISPLAY: block; BACKGROUND: url(image/logo.jpg) no-repeat; HEIGHT: 70px
}
.header .logo A:hover {
	BACKGROUND: url(image/logo_hover.jpg) no-repeat
}
.Search {
	MARGIN-TOP: 5px
}
.Search #key {
	BACKGROUND-IMAGE: url(image/newbg.png?2) !important
}
.keyword {
	BACKGROUND-IMAGE: url(image/newbg.png?2) !important
}
#searchbtn {
	BACKGROUND-IMAGE: url(image/newbg.png?2) !important
}
.Search #key {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline-block; BACKGROUND: repeat-x 0px -37px; FLOAT: left; HEIGHT: 34px; PADDING-TOP: 0px
}
.Search .keyword {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 6px; LINE-HEIGHT: 22px; PADDING-LEFT: 38px; WIDTH: 320px; PADDING-RIGHT: 0px; DISPLAY: inline-block; BACKGROUND: no-repeat 0px 0px; FLOAT: left; HEIGHT: 22px; COLOR: #999999; OVERFLOW: hidden; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 6px
}
.Search .search_s {
	BORDER-BOTTOM: #c5c5c5 1px solid; TEXT-ALIGN: center; BORDER-LEFT: medium none; LINE-HEIGHT: 28px; WIDTH: 68px; PADDING-RIGHT: 12px; BACKGROUND: url(image/ico_search_s.jpg) #ffffff no-repeat 65px 11px; FLOAT: left; HEIGHT: 29px; COLOR: #666666; BORDER-TOP: #c5c5c5 1px solid; CURSOR: pointer; BORDER-RIGHT: #c5c5c5 1px solid
}
#search_module {
	Z-INDEX: 1000; BORDER-BOTTOM: #c5c5c5 1px solid; POSITION: absolute; BORDER-LEFT: #c5c5c5 1px solid; LINE-HEIGHT: 20px; WIDTH: 81px; BACKGROUND: #ffffff; COLOR: #666666; FONT-SIZE: 13px; OVERFLOW: hidden; BORDER-TOP: medium none; TOP: 38px; BORDER-RIGHT: #c5c5c5 1px solid; LEFT: 355px
}
#search_module A {
	TEXT-ALIGN: center; PADDING-BOTTOM: 1px; PADDING-LEFT: 10px; PADDING-RIGHT: 20px; DISPLAY: block; HEIGHT: 20px; COLOR: #333333; PADDING-TOP: 1px
}
#search_module A:hover {
	BACKGROUND: #e4f1f7; FONT-WEIGHT: bold
}
.Search #searchbtn {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; PADDING-BOTTOM: 4px; LINE-HEIGHT: 33px; PADDING-LEFT: 15px; WIDTH: 89px; BACKGROUND: no-repeat -28px -74px; FLOAT: left; LETTER-SPACING: 10px; HEIGHT: 35px; COLOR: #333333; FONT-SIZE: 14px; OVERFLOW: hidden; BORDER-TOP: medium none; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: medium none; _line-height: 34px; _padding-left: 0px
}
.Search .btnal2#searchbtn {
	BACKGROUND: no-repeat -28px -111px; COLOR: #7a7a7a
}
#search_tips {
	Z-INDEX: 1000; BORDER-BOTTOM: #c5c5c5 1px solid; POSITION: absolute; BORDER-LEFT: #c5c5c5 1px solid; LINE-HEIGHT: 20px; WIDTH: 349px; BACKGROUND: #ffffff; COLOR: #666666; FONT-SIZE: 13px; OVERFLOW: hidden; BORDER-TOP: #c5c5c5 1px solid; TOP: 37px; CURSOR: pointer; BORDER-RIGHT: #c5c5c5 1px solid; LEFT: 5px
}
#search_tips DIV {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; HEIGHT: 20px; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 1px
}
#search_tips DIV.search_t_div_2 {
	BACKGROUND: #e4f1f7
}
#search_tips DIV SPAN {
	FLOAT: right; FONT-SIZE: 12px
}
#search_tips LABEL {
	TEXT-ALIGN: right; WIDTH: 100%; DISPLAY: block; BACKGROUND: #fafafa; COLOR: #0000cc; FONT-SIZE: 12px
}
.header_search {
	MARGIN: 10px 0px; DISPLAY: block; _width: 553px
}
.header_searchbox {
	BORDER-BOTTOM: #d9d9d9 1px solid; POSITION: relative; BORDER-LEFT: #d9d9d9 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #e6e6e6; BORDER-TOP: #d9d9d9 1px solid; BORDER-RIGHT: #d9d9d9 1px solid; PADDING-TOP: 5px
}
.header_searchbox .header-searchtxt {
	BORDER-BOTTOM: #c5c5c5 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #c5c5c5 1px solid; LINE-HEIGHT: 29px; PADDING-LEFT: 30px; WIDTH: 318px; BACKGROUND: #ffffff; HEIGHT: 29px; FONT-SIZE: 14px; BORDER-TOP: #c5c5c5 1px solid; BORDER-RIGHT: #c5c5c5 1px solid
}
.header_searchbox .header-searchbtn {
	BORDER-BOTTOM: #1f4583 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #1f4583 1px solid; LINE-HEIGHT: 31px; WIDTH: 100px; BACKGROUND: url(image/bg-header.png) #255095 repeat-x 0px -32px; HEIGHT: 33px; COLOR: #fff !important; MARGIN-LEFT: 5px; FONT-SIZE: 14px; BORDER-TOP: #1f4583 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #1f4583 1px solid; TEXT-DECORATION: none
}
.header_searchbox .header-searchbtn:hover {
	BACKGROUND: url(image/bg-header.png) #416fba repeat-x 0px -63px; CURSOR: pointer
}
.header_searchbox .header-searchtxt {
	DISPLAY: block; BACKGROUND: url(image/icon-search.gif) #fff no-repeat 5px 6px; COLOR: #b9b9b9
}
.foot {
	TEXT-ALIGN: center; PADDING-BOTTOM: 20px; LINE-HEIGHT: 28px; MARGIN-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #666666; BORDER-TOP: #0760b9 2px solid; PADDING-TOP: 5px
}
.foot_search {
	BORDER-BOTTOM: #aaccee 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #aaccee 1px solid; PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(image/foot_search.gif) #ffffff repeat-x 0px bottom; BORDER-TOP: #aaccee 1px solid; BORDER-RIGHT: #aaccee 1px solid; PADDING-TOP: 15px
}
.foot_search_m {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 3px; PADDING-RIGHT: 0px; COLOR: #cccccc; FONT-SIZE: 14px; PADDING-TOP: 0px
}
.foot_search_m SPAN {
	COLOR: #333333; CURSOR: pointer
}
.foot_search_i {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; WIDTH: 360px; PADDING-RIGHT: 0px; COLOR: #666666; FONT-SIZE: 14px; PADDING-TOP: 4px
}
.foot_search_s {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 80px; PADDING-RIGHT: 0px; BACKGROUND: url(image/foot_search_s.gif) no-repeat 0px -1px; LETTER-SPACING: 1px; COLOR: #333333; FONT-SIZE: 14px; BORDER-TOP: medium none; FONT-WEIGHT: bold; BORDER-RIGHT: medium none; PADDING-TOP: 5px
}
.box_head {
	BORDER-BOTTOM: #d5d5d5 1px solid; BORDER-LEFT: #d5d5d5 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(image/default-big-bg.png) #eff6ff repeat-x 0px -211px; HEIGHT: 30px; COLOR: #333; OVERFLOW: hidden; BORDER-TOP: #d5d5d5 1px solid; BORDER-RIGHT: #d5d5d5 1px solid; PADDING-TOP: 0px
}
.box_head STRONG {
	FONT-SIZE: 14px
}
.box_body {
	BORDER-BOTTOM: #d5d5d5 1px solid; BORDER-LEFT: #d5d5d5 1px solid; PADDING-BOTTOM: 6px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BORDER-TOP: medium none; BORDER-RIGHT: #d5d5d5 1px solid; PADDING-TOP: 6px
}
.box_body LI {
	LINE-HEIGHT: 22px; HEIGHT: 22px; OVERFLOW: hidden
}
.box_head_1 H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 14px; PADDING-TOP: 0px
}
.box_head_1 DIV {
	BORDER-LEFT: #d5d5d5 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 36px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BACKGROUND: url(image/bg-body.jpg) #f2f2f2 repeat-x; HEIGHT: 38px; BORDER-RIGHT: #d5d5d5 1px solid; PADDING-TOP: 0px
}
.box_head_1 STRONG {
	FONT-SIZE: 14px
}
.box_head_2 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #aaccee 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(image/box_head_2.gif) repeat-x 0px bottom; HEIGHT: 30px; COLOR: #1b4c7a; OVERFLOW: hidden; BORDER-TOP: #aaccee 1px solid; BORDER-RIGHT: #aaccee 1px solid; PADDING-TOP: 0px
}
.box_head_2 STRONG {
	FONT-SIZE: 14px
}
.box_head_3 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #ffcb56 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 28px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(image/box_head_3.gif) #ffeebe repeat-x 0px bottom; HEIGHT: 28px; COLOR: #333333; FONT-SIZE: 14px; OVERFLOW: hidden; BORDER-TOP: #ffcb56 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ffcb56 1px solid; PADDING-TOP: 0px
}
.box_body_3 {
	BORDER-BOTTOM: #ffcb56 1px solid; BORDER-LEFT: #ffcb56 1px solid; PADDING-BOTTOM: 6px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BORDER-TOP: medium none; BORDER-RIGHT: #ffcb56 1px solid; PADDING-TOP: 6px
}
.tab_head {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #d5d5d5 1px solid; LINE-HEIGHT: 26px; BACKGROUND: url(image/box_head.gif) #eff6ff repeat-x; HEIGHT: 26px; COLOR: #1b4c7a; FONT-SIZE: 13px; OVERFLOW: hidden; BORDER-TOP: #d5d5d5 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #d5d5d5 1px solid
}
.tab_1 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; FLOAT: left; CURSOR: pointer; FONT-WEIGHT: normal; BORDER-RIGHT: #d5d5d5 1px solid; PADDING-TOP: 0px
}
.tab_2 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BACKGROUND: #ffffff; FLOAT: left; CURSOR: pointer; BORDER-RIGHT: #d5d5d5 1px solid; PADDING-TOP: 0px
}
.tab_1_1 {
	BORDER-BOTTOM: #d5d5d5 1px solid; COLOR: #1b4c7a; CURSOR: pointer
}
.tab_1_2 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #d5d5d5 1px solid; COLOR: #1b4c7a; BORDER-TOP: #d5d5d5 1px solid; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: #d5d5d5 1px solid
}
.tab_head_2 {
	TEXT-ALIGN: center; BORDER-LEFT: #aaccee 1px solid; PADDING-LEFT: 12px; BACKGROUND: url(image/tab_head_2.gif) repeat-x; HEIGHT: 27px; BORDER-RIGHT: #aaccee 1px solid
}
.tab_2_1 {
	LINE-HEIGHT: 29px; WIDTH: 80px; FLOAT: left; HEIGHT: 27px; OVERFLOW: hidden; CURSOR: pointer
}
.tab_2_1 SPAN {
	COLOR: #333333
}
.tab_2_2 {
	LINE-HEIGHT: 28px; WIDTH: 80px; BACKGROUND: url(image/tab_2_2.gif) no-repeat; FLOAT: left; HEIGHT: 27px; MARGIN-LEFT: -2px; OVERFLOW: hidden; CURSOR: pointer; FONT-WEIGHT: bold
}
.tab_2_2 SPAN {
	COLOR: #ffffff; FONT-SIZE: 13px
}
.tab_body_2 {
	BORDER-BOTTOM: #aaccee 1px solid; BORDER-LEFT: #aaccee 1px solid; BORDER-TOP: medium none; BORDER-RIGHT: #aaccee 1px solid
}
.li_dot LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 2px; BACKGROUND: url(image/li_dot.gif) no-repeat 5px 9px; PADDING-TOP: 0px
}
.pages {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #666666; FONT-SIZE: 12px; PADDING-TOP: 10px
}
.pages A:link {
	BORDER-BOTTOM: #9aafe5 1px solid; BORDER-LEFT: #9aafe5 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #ffffff; COLOR: #004499; BORDER-TOP: #9aafe5 1px solid; BORDER-RIGHT: #9aafe5 1px solid; TEXT-DECORATION: none; PADDING-TOP: 5px
}
.pages A:visited {
	BORDER-BOTTOM: #9aafe5 1px solid; BORDER-LEFT: #9aafe5 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #ffffff; COLOR: #004499; BORDER-TOP: #9aafe5 1px solid; BORDER-RIGHT: #9aafe5 1px solid; TEXT-DECORATION: none; PADDING-TOP: 5px
}
.pages A:active {
	BORDER-BOTTOM: #9aafe5 1px solid; BORDER-LEFT: #9aafe5 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #ffffff; COLOR: #004499; BORDER-TOP: #9aafe5 1px solid; BORDER-RIGHT: #9aafe5 1px solid; TEXT-DECORATION: none; PADDING-TOP: 5px
}
.pages A:hover {
	BORDER-BOTTOM: #2e6ab1 1px solid; BORDER-LEFT: #2e6ab1 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #ffffff; COLOR: #ff6600; BORDER-TOP: #2e6ab1 1px solid; BORDER-RIGHT: #2e6ab1 1px solid; TEXT-DECORATION: none; PADDING-TOP: 5px
}
.pages STRONG {
	BORDER-BOTTOM: #1d589e 1px solid; BORDER-LEFT: #1d589e 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #2e6ab1; COLOR: #ffffff; BORDER-TOP: #1d589e 1px solid; BORDER-RIGHT: #1d589e 1px solid; PADDING-TOP: 5px
}
.pages_inp {
	BORDER-BOTTOM: #2e6ab1 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #2e6ab1 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 30px; PADDING-RIGHT: 5px; COLOR: #666666; BORDER-TOP: #2e6ab1 1px solid; BORDER-RIGHT: #2e6ab1 1px solid; PADDING-TOP: 5px
}
.pages_btn {
	BORDER-BOTTOM: #2e6ab1 1px solid; BORDER-LEFT: #2e6ab1 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; WIDTH: 40px; PADDING-RIGHT: 10px; BACKGROUND: #f1f7fc; COLOR: #004499; FONT-SIZE: 11px; BORDER-TOP: #2e6ab1 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #2e6ab1 1px solid; PADDING-TOP: 5px
}
.pages LABEL {
	BORDER-BOTTOM: #2e6ab1 1px solid; BORDER-LEFT: #2e6ab1 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #ffffff; COLOR: #004499; BORDER-TOP: #2e6ab1 1px solid; BORDER-RIGHT: #2e6ab1 1px solid; PADDING-TOP: 1px
}
.pages LABEL EM {
	FONT-STYLE: normal; COLOR: red; FONT-WEIGHT: bold
}
.pages LABEL SPAN {
	FONT-WEIGHT: bold
}
.pages CITE {
	FONT-STYLE: normal
}
.tb {
	BACKGROUND: #e3eef5
}
.tb TH {
	BACKGROUND: #f1f7fc
}
.tb TD {
	BACKGROUND: #ffffff
}
.tb TR {
	BACKGROUND: #f1f7fc
}
.ltd {
	BACKGROUND: #f1f7fc
}
.user {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 40px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; MARGIN-BOTTOM: 10px; HEIGHT: 40px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.user A {
	TEXT-ALIGN: center; BACKGROUND: url(image/default-big-bg.png) no-repeat; FLOAT: left; COLOR: #fff !important; FONT-WEIGHT: bold; TEXT-DECORATION: none !important
}
.user A.register-btn {
	WIDTH: 83px; BACKGROUND-POSITION: left -80px
}
.user A.register-btn:hover {
	BACKGROUND-POSITION: left -120px
}
.user A.login-btn {
	WIDTH: 84px; BACKGROUND-POSITION: -83px -80px
}
.user A.login-btn:hover {
	PADDING-LEFT: 1px; BACKGROUND-POSITION: -82px -120px; MARGIN-LEFT: -1px
}
.user A.supplier-btn {
	WIDTH: 83px; BACKGROUND-POSITION: -167px -80px
}
.user A.supplier-btn:hover {
	PADDING-LEFT: 2px; BACKGROUND-POSITION: -165px -120px; MARGIN-LEFT: -2px
}
.user P {
	BORDER-BOTTOM: #f4ceb7 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #f4ceb7 1px solid; LINE-HEIGHT: 38px; BACKGROUND: url(image/default-big-bg.png) repeat-x left -95px; HEIGHT: 38px; OVERFLOW: hidden; BORDER-TOP: #f4ceb7 1px solid; BORDER-RIGHT: #f4ceb7 1px solid
}
.user P STRONG {
	PADDING-RIGHT: 5px
}
.user SMALL {
	PADDING-LEFT: 5px; DISPLAY: inline-block
}
.user STRONG {
	WIDTH: 60px; DISPLAY: inline-block; HEIGHT: 38px; OVERFLOW: hidden
}
.user P SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #f9e0ad; PADDING-TOP: 0px
}
.user P A:link {
	COLOR: #ed5f01
}
.user P A:visited {
	COLOR: #ed5f01
}
.user P A:hover {
	COLOR: #ed5f01
}
.user P A:active {
	COLOR: #ed5f01
}
.user_login {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 25px; PADDING-RIGHT: 0px; PADDING-TOP: 15px
}
.user_input {
	BORDER-BOTTOM: #8db2e3 1px solid; BORDER-LEFT: #8db2e3 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 3px; WIDTH: 90px; PADDING-RIGHT: 0px; COLOR: #666666; BORDER-TOP: #8db2e3 1px solid; BORDER-RIGHT: #8db2e3 1px solid; PADDING-TOP: 3px
}
.user_tip {
	BORDER-BOTTOM: #eeeeee 1px solid; PADDING-BOTTOM: 5px; MARGIN: 0px 20px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; COLOR: #333333; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.user_reg {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.user_reg_c {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.user_can {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #1b4c7a; PADDING-TOP: 10px
}
.user_can TD {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(image/user_can.gif) no-repeat center 0px; PADDING-TOP: 6px
}
.user_load {
	BACKGROUND: url(image/user_load.gif) no-repeat center center; HEIGHT: 200px
}
.user_wel {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 45px; PADDING-RIGHT: 0px; BACKGROUND: url(image/user_wel.gif) no-repeat 26px 18px; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 18px
}
.user_do {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.user_do TD {
	PADDING-BOTTOM: 11px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(image/user_can.gif) no-repeat center 0px; PADDING-TOP: 6px
}
.user_foot {
	LINE-HEIGHT: 10px; BACKGROUND: url(image/user_bg.gif) no-repeat 0px bottom; HEIGHT: 10px; FONT-SIZE: 1px
}
.user_warn {
	BORDER-BOTTOM: #ffc600 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ffc600 1px solid; PADDING-BOTTOM: 5px; MARGIN: 0px 10px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #fffebf; BORDER-TOP: #ffc600 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ffc600 1px solid; PADDING-TOP: 5px
}
.thumb {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.thumb IMG {
	BORDER-BOTTOM: #d0d0d0 1px solid; BORDER-LEFT: #d0d0d0 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BORDER-TOP: #d0d0d0 1px solid; BORDER-RIGHT: #d0d0d0 1px solid; PADDING-TOP: 3px
}
.thumb LI {
	LINE-HEIGHT: 22px; HEIGHT: 22px; OVERFLOW: hidden
}
.imb IMG {
	BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; PADDING-TOP: 3px
}
.album {
	WIDTH: 250px; CURSOR: pointer
}
.album DIV {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #f3f3f3; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 5px
}
.album DIV SPAN {
	TEXT-ALIGN: center; WIDTH: 240px; DISPLAY: block; HEIGHT: 180px; VERTICAL-ALIGN: middle; OVERFLOW: hidden
}
.ab_im {
	BORDER-BOTTOM: #c0c0c0 1px solid; BORDER-LEFT: #c0c0c0 1px solid; PADDING-BOTTOM: 2px; MARGIN: 10px 0px 10px 13px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #c0c0c0 1px solid; BORDER-RIGHT: #c0c0c0 1px solid; PADDING-TOP: 2px
}
.ab_on {
	BORDER-BOTTOM: #ff6600 1px solid; BORDER-LEFT: #ff6600 1px solid; PADDING-BOTTOM: 2px; MARGIN: 10px 0px 10px 13px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #ff6600; BORDER-TOP: #ff6600 1px solid; BORDER-RIGHT: #ff6600 1px solid; PADDING-TOP: 2px
}
.f_l {
	FLOAT: left
}
.f_r {
	FLOAT: right
}
.t_l {
	TEXT-ALIGN: left
}
.t_r {
	TEXT-ALIGN: right
}
.t_c {
	TEXT-ALIGN: center
}
.f_b {
	FONT-WEIGHT: bold
}
.f_n {
	FONT-WEIGHT: normal
}
.f_white {
	COLOR: white
}
.f_gray {
	COLOR: #666666
}
.f_orange {
	COLOR: #ff6600
}
.f_red {
	COLOR: red
}
.f_green {
	COLOR: green
}
.f_blue {
	COLOR: blue
}
.f_dblue {
	COLOR: #1b4c7a
}
.f_price {
	FONT-FAMILY: Arial; COLOR: #ff6600; FONT-WEIGHT: bold
}
.px10 {
	FONT-SIZE: 10px
}
.px11 {
	FONT-SIZE: 11px
}
.px12 {
	FONT-SIZE: 12px
}
.px13 {
	FONT-SIZE: 13px
}
.px14 {
	FONT-SIZE: 14px
}
.px15 {
	FONT-SIZE: 15px
}
.px16 {
	FONT-SIZE: 16px
}
.b5 {
	HEIGHT: 5px; FONT-SIZE: 1px
}
.b6 {
	HEIGHT: 6px; FONT-SIZE: 1px
}
.b8 {
	HEIGHT: 8px; FONT-SIZE: 1px
}
.b10 {
	HEIGHT: 10px; FONT-SIZE: 1px
}
.b15 {
	HEIGHT: 15px; FONT-SIZE: 1px
}
.pd3 {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}
.pd5 {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.pd10 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.pd15 {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 15px
}
.pd20 {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 20px
}
.lh18 {
	LINE-HEIGHT: 180%
}
.ls1 {
	LETTER-SPACING: 1px
}
.c_p {
	CURSOR: pointer
}
.c_b {
	CLEAR: both
}
.dsn {
	DISPLAY: none
}
.absm {
	VERTICAL-ALIGN: middle
}
.btn {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; LINE-HEIGHT: 22px; WIDTH: 50px; BACKGROUND: url(image/btn.gif) no-repeat; LETTER-SPACING: 3px; HEIGHT: 24px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.btn_1 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; LINE-HEIGHT: 21px; PADDING-LEFT: 9px; WIDTH: 69px; BACKGROUND: url(image/btn_1.gif) no-repeat; HEIGHT: 21px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.btn_2 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; LINE-HEIGHT: 21px; PADDING-LEFT: 9px; WIDTH: 69px; BACKGROUND: url(image/btn_2.gif) no-repeat; HEIGHT: 21px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.btn_4 {
	BORDER-BOTTOM: #f77328 1px solid; BORDER-LEFT: #f77328 1px solid; BACKGROUND: url(image/btn_4.gif) #ffb04a repeat-x; HEIGHT: 20px; COLOR: #ffffff; BORDER-TOP: #f77328 1px solid; BORDER-RIGHT: #f77328 1px solid
}
.bd {
	BORDER-BOTTOM: #cad9ea 1px solid; BORDER-LEFT: #cad9ea 1px solid; BORDER-TOP: #cad9ea 1px solid; BORDER-RIGHT: #cad9ea 1px solid
}
.highlight {
	COLOR: red
}
.jt {
	COLOR: #003278; CURSOR: pointer
}
.np {
	PADDING-BOTTOM: 20px; LINE-HEIGHT: 25px; PADDING-LEFT: 50px; PADDING-RIGHT: 30px; PADDING-TOP: 20px
}
.pos {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 36px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BACKGROUND: url(image/bg-body.jpg) #f2f2f2 repeat-x 0px -1px; HEIGHT: 38px; COLOR: #003278; PADDING-TOP: 0px
}
.nav {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #003278; PADDING-TOP: 0px
}
.title {
	TEXT-ALIGN: center; FONT-FAMILY: ºÚÌå; FONT-SIZE: 20px; FONT-WEIGHT: normal
}
.title_trade {
	BORDER-BOTTOM: #f1f1f1 1px solid; TEXT-ALIGN: center; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: ºÚÌå; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.info {
	BORDER-BOTTOM: #d0d0d0 1px solid; PADDING-BOTTOM: 4px; MARGIN: 0px 15px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #d0d0d0 1px solid; PADDING-TOP: 4px
}
.introduce {
	PADDING-BOTTOM: 8px; LINE-HEIGHT: 180%; MARGIN: 15px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; BACKGROUND: #f1f1f1; FONT-SIZE: 14px; PADDING-TOP: 8px
}
.content {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 160%; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; FONT-SIZE: 14px; PADDING-TOP: 10px
}
.content P {
	TEXT-INDENT: 2em
}
.property {
	BORDER-BOTTOM: #e6e6e6 1px solid; BORDER-LEFT: #e6e6e6 1px solid; PADDING-BOTTOM: 10px; MARGIN: 0px 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #f6f6f6; BORDER-TOP: #e6e6e6 1px solid; BORDER-RIGHT: #e6e6e6 1px solid; PADDING-TOP: 10px
}
.property LI {
	LINE-HEIGHT: 22px; WIDTH: 30%; FLOAT: left; HEIGHT: 22px; OVERFLOW: hidden
}
.detail {
	BORDER-BOTTOM: #c0c0c0 1px dotted; PADDING-BOTTOM: 8px; MARGIN: 0px 15px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; BACKGROUND: url(image/arrow.gif) no-repeat 0px 9px; PADDING-TOP: 8px
}
.related {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 22px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 5px
}
.m_l {
	WIDTH: 670px
}
.m_r {
	WIDTH: 300px
}
.m_n {
	WIDTH: 10px
}
.m_l_1 {
	WIDTH: 790px
}
.m_r_1 {
	WIDTH: 180px
}
.left_box {
	BORDER-BOTTOM: #d5d5d5 1px solid; BORDER-LEFT: #d5d5d5 1px solid; BORDER-TOP: #d5d5d5 1px solid; BORDER-RIGHT: #d5d5d5 1px solid
}
.left_head {
	PADDING-BOTTOM: 7px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(image/left_head.gif) repeat-x; FONT-SIZE: 13px; FONT-WEIGHT: bold; PADDING-TOP: 8px
}
.left_head SPAN {
	FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.fsearch {
	PADDING-BOTTOM: 10px; MARGIN: 1px 1px 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; BACKGROUND: url(image/fsearch_bg.gif) #f5fafe repeat-x; PADDING-TOP: 5px
}
.sch {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; MARGIN-BOTTOM: 10px; PADDING-TOP: 15px
}
.sch P {
	PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 13px; PADDING-TOP: 10px
}
.sch_find {
	BORDER-BOTTOM: #eeeeee 1px solid; PADDING-BOTTOM: 5px; MARGIN: 5px 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; BORDER-TOP: #aaccee 1px solid; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.sch_site LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 23px; PADDING-LEFT: 25px; PADDING-RIGHT: 5px; BACKGROUND: url(image/ico_search.gif) no-repeat 3px 3px; HEIGHT: 23px; COLOR: #666666; OVERFLOW: hidden; PADDING-TOP: 0px
}
.sch_relate LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 23px; PADDING-LEFT: 25px; PADDING-RIGHT: 5px; BACKGROUND: url(image/arrow_up.gif) no-repeat 3px 3px; HEIGHT: 23px; COLOR: #666666; OVERFLOW: hidden; PADDING-TOP: 0px
}
.rank_list {
	BACKGROUND: url(image/rank_list.gif) no-repeat
}
.rank_list LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 23px; PADDING-LEFT: 35px; PADDING-RIGHT: 5px; HEIGHT: 23px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.ppt {
	PADDING-BOTTOM: 1px; LINE-HEIGHT: 25px; PADDING-LEFT: 35px; PADDING-RIGHT: 15px; PADDING-TOP: 1px
}
.ppt_l {
	WIDTH: 60px; FONT-WEIGHT: bold
}
.ppt_r {
	COLOR: #dfdfdf
}
.ppt SPAN {
	BORDER-BOTTOM: #1d589e 1px solid; BORDER-LEFT: #1d589e 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BACKGROUND: #2e6ab1; COLOR: #ffffff; BORDER-TOP: #1d589e 1px solid; BORDER-RIGHT: #1d589e 1px solid; PADDING-TOP: 1px
}
.category {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 15px; PADDING-RIGHT: 20px; PADDING-TOP: 10px
}
.category P {
	PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.category DIV {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 0px
}
.list {
	LINE-HEIGHT: 180%; MARGIN: 0px 10px
}
.list DIV IMG {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
.list TABLE {
	BORDER-BOTTOM: #cccccc 1px dotted; WIDTH: 100%
}
.list TD {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.list H3 {
	MARGIN: 0px; HEIGHT: 22px; FONT-SIZE: 14px; OVERFLOW: hidden
}
.about {
	BORDER-BOTTOM: #2786c6 1px solid; BORDER-LEFT: #2786c6 1px solid; PADDING-BOTTOM: 8px; MARGIN: 15px 15px 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND: #f2f2f2; BORDER-TOP: #2786c6 1px solid; BORDER-RIGHT: #2786c6 1px solid; PADDING-TOP: 8px
}
.about LI {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.about LI SPAN {
	WIDTH: 100px; DISPLAY: block; FLOAT: left; COLOR: #1b4c7a
}
.contact_head {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 18px; PADDING-RIGHT: 0px; BACKGROUND: url(image/contact_head.gif) no-repeat; LETTER-SPACING: 1px; COLOR: #ffffff; FONT-SIZE: 13px; FONT-WEIGHT: bold; PADDING-TOP: 6px
}
.contact_body {
	BORDER-BOTTOM: #ff7300 1px solid; BORDER-LEFT: #ff7300 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #ff7300 1px solid; BORDER-RIGHT: #ff7300 1px solid; PADDING-TOP: 10px
}
.contact_body LI {
	BORDER-BOTTOM: #e2e2e2 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.contact_body LI SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 8px; COLOR: #1b4c7a; PADDING-TOP: 0px
}
.type {
	LINE-HEIGHT: 29px; PADDING-LEFT: 35px; BACKGROUND: url(image/type_bg.gif) #d7e9ff repeat-x; HEIGHT: 28px; OVERFLOW: hidden; BORDER-TOP: #d5d5d5 1px solid
}
A.type_1:link {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: block; BACKGROUND: #ffffff; FLOAT: left; COLOR: #000000; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
A.type_1:visited {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: block; BACKGROUND: #ffffff; FLOAT: left; COLOR: #000000; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
A.type_1:active {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: block; BACKGROUND: #ffffff; FLOAT: left; COLOR: #000000; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
A.type_1:hover {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: block; BACKGROUND: #ffffff; FLOAT: left; COLOR: #000000; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
A.type_2:link {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: block; FLOAT: left; BORDER-RIGHT: #e2f0fb 1px solid; PADDING-TOP: 0px
}
A.type_2:visited {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: block; FLOAT: left; BORDER-RIGHT: #e2f0fb 1px solid; PADDING-TOP: 0px
}
A.type_2:active {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: block; FLOAT: left; BORDER-RIGHT: #e2f0fb 1px solid; PADDING-TOP: 0px
}
A.type_2:hover {
	BACKGROUND: #2676d9; COLOR: #ffffff
}
.img_tip {
	Z-INDEX: 1000; BORDER-BOTTOM: #aaccee 1px solid; POSITION: absolute; BORDER-LEFT: #aaccee 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 200px; PADDING-RIGHT: 5px; BACKGROUND: #ffffff; BORDER-TOP: #aaccee 1px solid; BORDER-RIGHT: #aaccee 1px solid; PADDING-TOP: 5px
}
.vote {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.vote DIV {
	FONT-WEIGHT: bold
}
.vote LI {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 3px
}
.vote P {
	MARGIN: 5px 0px
}
.left_menu {
	WIDTH: 150px; BACKGROUND: url(image/left_menu.gif) #ffffff repeat-y; LETTER-SPACING: 1px; FONT-SIZE: 13px
}
.left_menu A {
	WIDTH: 90%; DISPLAY: block
}
.left_menu UL {
	BACKGROUND: url(image/left_menu_ul.gif) #ffffff no-repeat; PADDING-TOP: 2px
}
.left_menu_li {
	LINE-HEIGHT: 37px; PADDING-LEFT: 30px; BACKGROUND: url(image/left_menu_li.gif) no-repeat; HEIGHT: 37px
}
.left_menu_on {
	LINE-HEIGHT: 37px; PADDING-LEFT: 30px; BACKGROUND: url(image/left_menu_on.gif) no-repeat; HEIGHT: 37px
}
.warn {
	PADDING-BOTTOM: 30px; PADDING-LEFT: 200px; PADDING-RIGHT: 100px; PADDING-TOP: 30px
}
.warn DIV {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 200%; PADDING-LEFT: 60px; PADDING-RIGHT: 0px; BACKGROUND: url(image/warn.gif) no-repeat; FONT-SIZE: 14px; PADDING-TOP: 5px
}
.warn H1 {
	MARGIN: 0px; FONT-SIZE: 16px
}
.guest_warn {
	BORDER-BOTTOM: #ff7300 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ff7300 1px solid; PADDING-BOTTOM: 2px; MARGIN: 0px 130px 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #fff5d8; BORDER-TOP: #ff7300 1px solid; BORDER-RIGHT: #ff7300 1px solid; PADDING-TOP: 2px
}
#imgshow {
	Z-INDEX: 1000; BORDER-BOTTOM: #666666 1px solid; POSITION: absolute; BORDER-LEFT: #666666 1px solid; PADDING-BOTTOM: 5px; MARGIN: -40px 0px 0px -10px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #f1f1f1; BORDER-TOP: #666666 1px solid; BORDER-RIGHT: #666666 1px solid; PADDING-TOP: 5px
}
#destoon_city {
	COLOR: red
}
#destoon_toolbar {
	Z-INDEX: 99999; POSITION: fixed; WIDTH: 100%; BOTTOM: 0px; BACKGROUND: url(image/toolbar_bg.gif) #f8f8f8 repeat-x; CLEAR: both; OVERFLOW: visible; LEFT: 0px
}
.tb_m {
	MARGIN: auto; WIDTH: 980px; HEIGHT: 30px; OVERFLOW: hidden
}
.tb_r {
	TEXT-ALIGN: center; WIDTH: 300px; FLOAT: right
}
.tb_r DIV {
	BORDER-LEFT: #c6c6c6 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-RIGHT: #c6c6c6 1px solid; PADDING-TOP: 8px
}
.tb_l {
	WIDTH: 670px; FLOAT: left
}
.tb_l DIV {
	BORDER-LEFT: #c6c6c6 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; BORDER-RIGHT: #c6c6c6 1px solid; PADDING-TOP: 8px
}
.tb_c {
	WIDTH: 10px; BACKGROUND: url(image/toolbar_top.gif) no-repeat center center; FLOAT: left; HEIGHT: 30px; CURSOR: pointer
}
#powered {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 6px
}
.ad_fixed {
	POSITION: fixed; WIDTH: 124px; BACKGROUND: url(image/ad_fixed.gif) no-repeat; HEIGHT: 299px; TOP: 150px; LEFT: 50%; _position: absolute
}
.ad_body {
	BORDER-BOTTOM: #d8d8d8 2px solid; BORDER-LEFT: #d8d8d8 2px solid; WIDTH: 120px; HEIGHT: 270px; BORDER-TOP: #d8d8d8 2px solid; BORDER-RIGHT: #d8d8d8 2px solid
}
.ad_tool {
	MARGIN-TOP: 5px; HEIGHT: 20px
}
.ad_close {
	POSITION: absolute; WIDTH: 50px; BOTTOM: 0px; HEIGHT: 20px; CURSOR: pointer; RIGHT: 0px
}
#fixed_01 {
	MARGIN-LEFT: -624px
}
#fixed_02 {
	MARGIN-LEFT: 500px
}
/*custom*/
ul.cats{
  margin-right: -10px;
  float: left;
}
ul.cats li{
  float: left;
  width: 91px;
  margin-right: 10px;
  line-height: 22px;
  overflow: hidden;
  height: 22px;
}
table.itable{
 width: 100%; 
}

table.itable thead{
  background: #eee;
}
table.itable th{
}
table.itable th,table.itable td{
  text-align: left;
  padding: 5px;
}
tr.even{
  background: #f8f8f8;
}
